.infoCardContainer {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0;
}
.infoCardContainer:hover {
  background: white;
}

.infoCardHeadline {
  color: black;
  font-weight: bold;
}

.infoCardContainer--vintage {
  background-color: #EDCFD1;
}

.infoCardContainer--metal {
  background-color: #e1e1e1;
}